*{
    margin: 0;
    padding: 0;
}

h1, h2, h3, p{
    line-height: 1.2;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container{
    max-width: 1000px;
    margin: auto;
}

header{
    background-color: #48C5CE;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
}

.title{
    font-size: 26px;
    padding: 10px;
    color: #222222;
}

/**/
section{
    padding: 20px;
    background-image: url('../images/people.jpg');
    background-size: cover;
    overflow: hidden;
}

.formContainer{
    max-width: 230px;
    background-color: #FFFFFFBB;
    padding: 20px;
    float: right;
    border-radius: 5px;
}

h2{
    font-size: 16px;
    text-transform: uppercase;
    color: #222222;
}

.mb{
    margin-bottom: 15px;
}

input, select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    background: #FFFFFF;
    border-radius: 3px;
}

select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../images/arrow.jpg');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    color: #222222;
}

input[type="submit"]{
    color: #FFFFFF;
    background-color: #48C5CE;
    font-weight: bold;
}

/**/
footer{
    background-color: #202121;
    padding: 40px;
    text-align: center;
}

.picture{
    width: 160px;
    border-radius: 5px;
}

.description{
    max-width: 40%;
    display: inline-block;
    text-align: left;
    color: #FFFFFF;
    margin-left: 40px;
    vertical-align: bottom;
}

.description h3, 
.description p{
    margin-bottom: 20px;
}

.description h3{
    font-size: 24px;
}

/**/
@media screen and (max-width: 800px){
    footer{
        display: flex;
    }

    .description{
        max-width: 100%;
    }
}

@media screen and (max-width: 610px){
    footer{
        display: inline-block;
    }

    .picture{
        margin-bottom: 10px;
    }

    .description{
        margin: 0;
        text-align: center;
    }
}

@media screen and (max-width: 500px){
    .title{
        font-size: 18px;
    }

    .formContainer{
        max-width: 100%;
    }
}